@font-face {
    font-family: 'Mauline';
    src: url('../../fonts/Mauline.otf') format('truetype');
    /* font-weight: 00; */
    /* font-style: normal; */
}

html {
    scroll-behavior: smooth;
}

.landing-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.a-tag:hover {
    background: #2C2C2C;
}

.navbar > a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.get-started {
    border: 1px solid white;
    background-image: linear-gradient(98.7deg, rgba(6,238,243,1) 10.6%, rgba(34,126,209,1) 72.2%, rgba(35,44,51,1) 122.5%);
    color: black;
    padding: 5px;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-size: 200% 200%;
    animation: gradientMove 5s ease infinite;
}

.get-started:hover {
    color: green;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(202,248,255,1) 0%, rgba(186,204,227,1) 51.2%, rgba(117,144,179,1) 100.1%);
    animation: pulse 0.6s ease;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.about {
    border-top: 1px solid white;
    display: flex;
    text-align: center;
    min-height: 100vh;
    flex-direction: row;
    width: 100%;
}

.about-one, .about-two {
    width: 50%;
}

.about-two  p {
    font-size: 1.5rem;
    width: 60%;
    margin: 130px 100px 0 auto;
}

.ellipse-container {
    position: relative;
    display: inline-block;
}
  
.ellipse-shape {
    position: absolute;
    top: 90px;
    left: 260px;
    width: 350px;
    height: 200px;
    border: 3px dashed #cdcf30; /* Change color as needed */
    border-radius: 50% / 50%;
    z-index: -1;
    transform: rotate(-20deg); /* optional for style */
}


.text-one {
    margin-top: 70px;
    font-family: "Mauline";
  /* font-optical-sizing: auto; */
  line-height: 1;
  font-weight: 800;
  font-size: 7rem;
  font-style: normal;
}

.one-img {
    margin: 0 auto;
    height: 400px;
    width: 90%;
}

.one-img img {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    transform: rotate(0deg);
}

.info {
    width: 100%;
    margin-top: 30px;
}

.info-content {
    width: 75%;
    margin: 20px auto;
}

.info-text {
    border: 1px solid #2c2c2c;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    font-size: 1.7rem;
}

.follow-p {
    text-align: end;
}

.info-content > p > a{
    position: relative;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.follow-p a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: width 0.4s ease, left 0.4s ease;
}

.follow-p a:hover::after {
    width: 100%;
    left: 0%;
}

.follow-p a:not(:hover)::after {
    left: 0%;
    right: 100%;
    width: 0%;
    transition: width 0.4s ease, left 0.4s ease;
}

.footer {
    width: 100%;
    background: #F5EEDD;
    /* border: 1px solid black; */
}

.socials {
    border: 1px solid black;
    width: 100%;
    height: 70px;
    background: #7AC6D2;
    padding-bottom: 50px;
}

.socials img {
    height: 35px;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
}

.socials img:hover {
    background: rgb(255, 255, 255);
    transform: scale(1.5);
}

.footer >div > p {
    /* background: white; */
    height: 50px;
    font-size: .8rem;
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer >div > p > img {
    height: 25px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
  
    position: absolute;
    z-index: 1;
    bottom: 125%; /* above the icon */
    left: 50%;
    transform: translateX(-50%);
    
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  

  .spin {
    animation: spin 10s linear infinite;
  }
  
  .spin:hover {
    animation-play-state: paused;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }