.Chat {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    background: black;
    border: 5px solid #4a4942;
    border-radius: 20px;
}

/* .CenteredWelcome {
    align-items: center;
    justify-content: center;
    text-align: center;
} */

.Group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}

.Group:nth-last-of-type(2){
    min-height: calc(100% - 8px);
    border-radius: 20px;
}
 
.Message {
    width: fit-content;
    max-width: 90%;
    overflow-x: auto;
    padding: 0 16px;
    border-radius: 20px;
    font-size: 14px;
    background: #1b1b1b;
    /* margin-bottom: 10px; */
    color: white; /* Ensures assistant text is readable */
}

/* Proper selector for user role */
.Message[data-role="user"] {
    align-self: flex-end;
    min-height: 50px;
    /* padding: 10px; */
    background: #2C2C2C;
    /* border: 1px solid yellow; */
    color: white; /* Ensures user text is readable */
}


@media (max-width:430px) {
    .Message {
        font-size: 16px;
        width: 95%;
    }

}